﻿@model WebApplication4.Models.Members

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Members</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.First_Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.First_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Second_Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Second_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.date_of_birth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.date_of_birth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Library)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Library.LibraryAddress)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MemberId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
