﻿@model WebApplication4.Models.Members

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Members</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.First_Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.First_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Second_Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Second_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.date_of_birth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.date_of_birth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Library)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Library.LibraryAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MemberId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
