﻿@model IEnumerable<WebApplication4.Models.Genres>

@{
    ViewData["Title"] = "Index";
}
@{
    if (TempData["LibraryName"] != null)
    {
        <h3>You are in Library:@TempData["LibraryName"]</h3>

    }
    TempData.Keep("LibraryName");
}
<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Genre_Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre_Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.GenreId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.GenreId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.GenreId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
