﻿@inject SignInManager<IdentityUser> signinManager;


@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Library Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/additional-methods.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validate/additional-methods.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="~/css/site.css" />


</head>
<body>
   
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#2b2e4a">
            <a class="navbar-brand brand_name" asp-controller="Home" asp-action="Index">Library Management System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                      <a class="nav-link" asp-controller="Libraries" asp-action="Index">Library</a>
                    </li>

                    <li class="nav-item ">
                     <a class="nav-link" asp-controller="Members" asp-action="Index"><i class="fas fa-user mr-2"></i>Members</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Genres" asp-action="Index">Genres</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" asp-controller="Books" asp-action="Index">Books</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Authors" asp-action="Index">Authors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="BorrowHistories" asp-action="Index">BorrowHistories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="BookAuthors" asp-action="Index">BookAuthors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Administration" asp-action="ListRoles">Roles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Administration" asp-action="ListAllUsers">Users</a>
                    </li>

                </ul>
                <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
                    @if (signinManager.IsSignedIn(User))
                    {
                        <li class="nav-item"><form method="post" asp-action="Logout" asp-controller="Account"><button type="submit" class="btn btn-outline-danger">Logout @User.Identity.Name</button></form> </li>
                    }
                    else
                    {
                        <li class="nav-item"><a class="btn mx-1 text-white"  asp-action="Login" asp-controller="Account">Sign In</a> </li>

                        <li class="nav-item"><a class="btn mx-1" style="background-color:#e84545;color:white" asp-action="Register" asp-controller="Account">Sign Up</a> </li>
                    }
                </ul>
            </div>
        </nav>

 

    <div class="container body-content" >
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - WebApplication1</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
