﻿@model WebApplication4.Models.Book

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book_Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book_Desc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book_Desc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Serial_Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Serial_Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genres)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genres.Genre_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Library)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Library.LibraryAddress)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BookId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
