﻿@model IEnumerable<WebApplication4.Models.Book>

@{
    ViewData["Title"] = "Index";
}
@{
    if (TempData["LibraryName"] != null)
    {
        <h3>You are in Library:@TempData["LibraryName"]</h3>

    }
    TempData.Keep("LibraryName");
}

@ViewBag.UserEmail;
<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <a href="C:\Users\Жомарт\source\repos\WebApplication4\Views\Books\Index.cshtml">C:\Users\Жомарт\source\repos\WebApplication4\Views\Books\Index.cshtml</a>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book_Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serial_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Library)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book_Desc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Serial_Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genres.Genre_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Library.LibraryAddress)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BookId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BookId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
