﻿@model List<WebApplication4.AuthorizeModels.UserRole>
@{ 
    var roleId = ViewBag.roleId;
}
<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Add or remove users from this role</h2>
        </div>
        <div class="card-body">
            @for(int i = 0; i < Model.Count; i++)
            {
            <div class="form-check">
                <input type="hidden" asp-for="@Model[i].UserId" />
                <input type="hidden" asp-for="@Model[i].UserName" />
                <input asp-for="@Model[i].isSelected" class="form-check-input" />
                <label class="form-check-label">@Model[i].UserName</label>
            </div>
            }
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary"/>
            <a asp-action="EditRole" asp-route-id="@roleId" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>