﻿@model WebApplication4.AuthorizeModels.EditRoleModel

@{
    ViewData["Title"] = "Edit Role";
}

<h2>Edit</h2>

<h4>Roles</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditRole">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="RoleId" />
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Update </button>
              
            </div>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h3>Users in this role</h3>
    </div>
    <div class="card-body">
        @if (Model.Users.Any())
        {
            foreach(var user in Model.Users)
                {
                <h5 class="card-title">@user</h5>

            }
        }
        else
        {
            <h5 class="card-title">No users in this ro le</h5>
        }
    </div>
    <div class="card-footer">
        <a asp-action="EditUserInRole" asp-controller="Administration" asp-route-roleId="@Model.RoleId" class="btn btn-warning">Add or Delete Users from Role</a>
    </div>
</div>
<div>
    <a asp-action="ListRoles">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
