﻿@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "List of Roles";
}

<h2>Index</h2>

<p>
    <a asp-action="CreateRole">Create</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Role Id
            </th>
            <th>
                Role Name
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Name
            </td>
            <td>
                <a asp-action="EditRole" asp-controller="Administration" asp-route-id="@item.Id">Edit</a>

            </td>

        </tr>
}




    </tbody>
</table>
