﻿@model IEnumerable<IdentityUser>
@{
    ViewData["Title"] = "Edit Role";
}
<h1>All Users</h1>

<p>
    <a asp-action="Register">Create User</a>
</p>
@if (!Model.Any())
{
    <h3>No user. Create new one</h3>
    <a asp-action="Register">Create User</a>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Email
                </td>


            </tr>
        }




    </tbody>
</table>