﻿@model WebApplication4.Models.BorrowHistory

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BorrowHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Members)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Members.MemberId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.BookId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Borrow_Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Borrow_Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Issue_Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Issue_Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BorrowId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
