﻿@model WebApplication4.Models.BookAuthor

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BookAuthor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author.AuthorId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.BookId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookAuthorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
