﻿@model IEnumerable<WebApplication4.Models.BookAuthor>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author.First_Name) @Html.DisplayFor(modelItem => item.Author.Second_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Book_Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Author.First_Name">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookAuthorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookAuthorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
